/* CSS Reset */
html { margin: 0; padding:20px; font-size: 100%; line-height: 1}
body{background-color: #FDAA95}

h1{color: rgb(114, 134, 250); 
    font-style: italic;
font-size: 3rem;}

/* unvisited link */
a:link {
    color: purple
    ;
    font-size: 20px;
  }
  
  /* visited link */
  a:visited {
    color: green;
    font-size: 20px;
  }
  
  /* mouse over link */
  a:hover {
    color: pink;
    font-size: 20px;
  }

/* CSS classes */
.error {color: purple
    ; font-weight: bold;}

/* CSS IDS */
#page_title
{color: #628AE3;
    font-weight: bold;
    font-size: 3rem;
    border: 1px black solid;
padding: 20px;}

#table {color: black;
font-size: 20px}